.search_div {
	width: 85%;
	margin: 30px auto 10px auto;
}

.search {
	width: 100%;
	height: 35px;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	font-size: 20px;
	padding: 0 5px;
}

.delete_dialog {
	z-index:99999;
	position:fixed;
	top:40%;
	left:50%;
	margin:-180px 0 0 -300px;
	width: 600px;
	height: 260px;
	font-size: 20px;
	font-family: Microsoft YaHei;
	border-radius:5px;
	border:solid 2px #666;
	background-color:#fff;
	display:none;
	box-shadow: 0 0 10px #666;
}

.dialog_title {
	padding: 18px;;
}

.close {
	float:right;
	color:#999;
	padding:18px;
	margin:5px;
	font:bold 20px/14px simsun;
	text-shadow:0 1px 0 #ddd
}

.dialog_content {
	display: block;
	border-top: 1px solid #ddd;
	padding: 18px;
}

.delete_button_ul {
	display: inline;
}

.button-delete {
	color: black !important;
	padding: 0 25px !important;
	font-size: 30px !important;
	float: right !important;
	border-radius: 10px !important;
	height: 45px !important;
}

a {
	color:#0088DB;
	text-decoration:none;
	cursor:pointer
}

.res {
	width: 90%;
	margin: 0 auto;
}

.reslength {
	text-align: center;
	margin: 0px auto;
	color: #BBBBBB;
	font-size: 15px;
}

ol {
	list-style-type: none;
	padding-left: 0;
	width: 380px;
	margin: 80px auto 0px auto;
}

.delete_button_ol li{
	display: inline-block;
	width: 110px;
	margin: 0 38px;

}

ul {
	list-style-type: none;
	padding-left: 0;
}

.res li {
	height: 45px;
	border-bottom: 1px dashed #CCCCCC;
	padding: 3px;
	margin: 8px;
	font-family: Microsoft YaHei;
}

p {
	margin: 0;
	padding: 0;
}

span {
	color: white;
	background-color: #F44698;
}

.title {
	font-size: 20px;
	color: #666666;
}

.address {
	display: inline;
	width: 70%;
	float: left;
}

.time {
	display: inline;
	width: 20%;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	text-align: right;
	font-size: 12px;
	color: #DDDDDD
}
.footer {
	width: 90%;
	margin: 0 auto;
}

.addbutton_div {
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.pages {
	float: right;
}

.pagination {
	margin-right: 10px;
}